.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header .mostrar{
  background-color: blanchedalmond;
  width: 400px;
  height: 350px;
}
.App-header .mostrar:hover{
  background-color: coral;
}
.dato1{
  width: 240px;
  height: 70px;
  background-color: red;
  font-weight: bold;
  position: relative;
  animation: mymove 8s infinite;
  animation-direction: alternate;
}
.dato1:hover{
  background-color: magenta;
}
.dato2{
  width: 240px;
  height:50px;
  background-color: red;
  position: relative;
  animation-duration: 0s infinite;
  animation: mymove 5s infinite;
  animation-direction: alternate-reverse;
}
.dato3{
  width: 240px;
  height:50px;
  background-color: red;
  position: relative;
  animation: mymove 5s infinite;
  animation-direction: alternate;
}
.dato4{
  width: 240px;
  height:50px;
  background-color: red;
  position: relative;
  animation: mymove 5s infinite;
  animation-direction: alternate-reverse;
}

@keyframes mymove {
  from {background-color:darkseagreen; left: 0px;}
  to {background-color:darkorange;left: 50px;}
}

.titulo1{
  width: auto;
  height:70px;
  margin-bottom: -10px;
  background-color: blue;
  position: relative;
  animation-name: titulo;
  animation-duration: 4s;  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.titulo2{
  width: auto;
  height:auto;;
  background-color: blue;
  position: relative;
  animation-name: titulo;
  animation-duration: 4s;  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes titulo {
  0%   {background-color:lightskyblue; left:0px; top:0px;}
  25%  {background-color:lightpink; left:0px; top:0px;}
  50%  {background-color:lightsalmon; left:0px; top:0px;}
  75%  {background-color:lightskyblue; left:0px; top:0px;}
  100% {background-color:lightpink; left:0px; top:0px;}
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
